<p>## Synopsis</p>

<p>This is just a demo app, only for comprove some skills. It's a simple web application built with pure PHP(7).</p>

<p>I've tried to keep the whole thing simple so I've avoided coments on code.</p>

<p>## Installation</p>

<p>Clone the repository:</p>

<p>git clone https://wcdiasdeoliveira@bitbucket.org/wcdiasdeoliveira/webapp.git</p>

<p>Run the app using the following commands inside the webapp directory:</p>

<p>php -S HOST:PORT</p>

<p> OR: </p>

<p>docker build .b -t <IMAGE_NAME> docker run --detach <IMAGE_NAME></p>

<p>## Tests</p>

<p>Enter:</p>

<p>cd tests</p>

<p>Then:</p>

<p>phpunit</p>

<p>## Bugs</p>

<p>On the current version, if a file with the same name exists in the assets directory, it will be replaced and will occur two rows with the same value in the database.</p>

<p>## Contributors</p>

<p>Wesley C. Dias de Oliveira</p>

<p>## License</p>

<p>Free for use and extend. </p>
